<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/icon/web_icon.ico" type="image/x-icon"/>
    <title>发现更多</title>
    <!--js+bt-->
    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/moment.min.js" type="application/javascript"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!--js+bt-->
</head>
<body style="background: beige;">

<div class="alert  alert-warning" role="alert" style="text-align: center"><a href="/">返回主页</a></div>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-6">
         <span>
        <b> 一、项目基础信息</b>
    </span>
            <br>
            技术相关:Java、Html、Css、JavaScript、Mysql...<br>
            框架相关:SpringBoot、Thymeleaf、BootStrap、Layui、Jquery、Vue、Mybatis...<br>
            工具相关:okhttp、postman、axios、ajax...
            <br>
            <br>
            <span>
         <b>二、第三方登录</b>
    </span>
            <br>
            <a href="https://connect.qq.com/index.html">QQ开放平台</a>&nbsp;(https://connect.qq.com/index.html)<br>
            <a href="https://github.com">GitHub</a>&nbsp;(https://github.com)
            <br>
            <br>
            <span>
        <b>三、云服务与主要第三方库</b>
    </span>
            <br>
            主机:<a href="https://cloud.tencent.com">腾讯云</a>&nbsp;(https://cloud.tencent.com)<br>
            短信服务:腾讯云<br>
            对象存储:腾讯云<br>
            数据库:<a href="https://www.aliyun.com">阿里云</a>Mysql、阿里云Redis&nbsp;(https://www.aliyun.com)<br>
            富文本编辑器:<a href="http://www.wangeditor.com">wangEditor</a>&nbsp;(http://www.wangeditor.com)<br>
            图标:<a href="https://www.thinkcmf.com/font_awesome.html">Font Awesome</a>&nbsp;(https://www.thinkcmf.com/font_awesome.html)<br>
            <br>
        </div>

        <div class="col-lg-3">
        <span>
            <b>
                站长微信:Yiang37
            </b>
        </span>
            <br>
            <img style="width: 300px;height: 300px" src="/img/myImg/vx.png" alt="微信二维码" class="img-thumbnail">
        </div>
        <div class="col-lg-3">
        <span>
            <b>
                站长QQ:1798972
            </b>
        </span>
            <br>
            <img style="width: 300px;height: 300px" src="/img/myImg/QQ.png" alt="QQ二维码" class="img-thumbnail">
        </div>
    </div>
</div>
<br>
<br>
</body>
</html>