<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/icon/web_icon.ico" type="image/x-icon"/>
    <title>BootStrap示例</title>
    <!--引入相应文件-->
    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

</head>

<body>

<div class="col-lg-2 col-xs-12" style="background: blue">
    Div1<br>
    Div1<br>
    Div1<br>
</div>
<div class="col-lg-1 col-xs-12" style="background: red">
    Div2<br>
    Div2<br>
    Div2<br>
</div>

</body>

</html>